@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Επιτυχής Επαναφορά κωδικού";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ο κωδικός άλλαξε επιτυχώς. Παρακαλώ <a asp-page="./Login">πατήστε εδώ για να συνδεθείτε.</a>.
</p>
