################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EronNew
/EronNew/obj
/.vs
/EronNew/bin
