<div class="container z-depth-1 my-5 py-5 px-4 px-lg-0">

    <!-- Section -->
    <section>

        <h3 class="font-weight-bold text-center dark-grey-text pb-2">About Us</h3>
        <hr class="w-header my-4">
        <p class="lead text-center text-muted pt-2 mb-5">Eron Site founded to simplify the way of Advertisment all over the world.</p>

        <div class="row">
            <div class="col-lg-8 mx-auto">

                <ol class="timeline">
                    <li class="timeline-element">
                        <h5 class="font-weight-bold dark-grey-text mb-3">Launched our Beta version website</h5>
                        <p class="grey-text font-small"><time datetime="20021-01-10">10 January 2021</time></p>
                        <p class="text-muted">
                            Eron.gr published as beta version... 
                        </p>
                    </li>

                    <li class="timeline-element">
                        <h5 class="font-weight-bold dark-grey-text mb-3">Next step is 100 users</h5>
                        <p class="grey-text font-small"><time datetime="2021-01-31"></time></p>
                        <p><img class="img-fluid z-depth-1-half rounded" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/12-col/img%20(6).jpg" alt="..."></p>
                        <p class="text-muted">
                            Hope to pin this milestone soon ...
                        </p>
                    </li>

                    @*<li class="timeline-element">
                        <h5 class="font-weight-bold dark-grey-text mb-3">Raised $1.4 million in seed funding</h5>
                        <p class="grey-text font-small"><time datetime="2018-03-26">26 Mar 2019</time></p>
                        <p class="text-muted">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ullam adipisci reiciendis porro natus laudantium similique.
                            Explicabo amet ipsum fugiat aliquam alias.
                        </p>
                    </li>

                    <li class="timeline-element">
                        <h5 class="font-weight-bold dark-grey-text mb-3">Team size increased to 20</h5>
                        <p class="grey-text font-small"><time datetime="2018-04-14">14 Apr 2019</time></p>
                        <p class="text-muted">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ullam adipisci reiciendis porro natus laudantium similique.
                            Explicabo amet ipsum fugiat aliquam alias.
                        </p>
                    </li>*@
                </ol>
            </div>
        </div>

    </section>
    <!-- Section -->

</div>