@section metatags
{
    <meta property="fb:app_id" content="407388710507530" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="FAQ - Eron.gr" />
    <meta property="og:url" content="https://www.eron.gr" />
    <meta property="og:image" content="https://www.eron.gr/images/image_v2.png" />
    <meta property="og:description" content="Καταχωρείστε τις αγγελίες σας στο Eron.gr." />
}

<div class="container my-5">


    <!--Section: Content-->
    <section>

        <h6 class="font-weight-normal text-uppercase font-small grey-text mb-4 text-center">FAQ</h6>
        <!-- Section heading -->
        <h3 class="font-weight-bold black-text mb-4 pb-2 text-center">Frequently Asked Questions</h3>
        <hr class="w-header">
        <!-- Section description -->
        <p class="lead text-muted mx-auto mt-4 pt-2 mb-5 text-center">Έχεις κάποια ερώτηση? Έχουμε την απάντηση. Εάν έχεις κάποια άλλη απορία, <a href="~/Home/ContactUs">επικοινώνησε μαζί μας</a>.</p>

        <div class="row">
            <div class="col-12 mb-4">
                <h5 class="font-weight-normal mb-3">Πως μπορώ να καταχωρήσω την Αγγελία μου?</h5>
                <p class="text-muted">
                    <iframe src="/html/PostInfo.htm" class="col-12 border-0 scrollbar-navy-blue-skin-slim scrollbar-1">
                    </iframe>
                </p>
            </div>

            <div class="col-12 mb-4">
                <h5 class="font-weight-normal mb-3">Πως μπορώ να εγγραφώ στη σελίδα Eron.gr?</h5>
                <p class="text-muted">
                    <iframe src="/html/RegisterInfo.htm" class="col-12 border-0 scrollbar-navy-blue-skin-slim scrollbar-1">
                    </iframe>
                </p>
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
                <h5 class="font-weight-normal mb-3">Η εγγραφή στη σελίδα είναι δωρεάν?</h5>
                <p class="text-muted">Η εγγραφή στη σελίδα μας θα είναι δωρεάν για πάντα. </p>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <h5 class="font-weight-normal mb-3">Η καταχώρηση της Αγγελίας είναι δωρεάν?</h5>
                <p class="text-muted">Η καταχώρηση της Αγγελίας θα είναι δωρεάν για πάντα.</p>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <h5 class="font-weight-normal mb-3">Ποσο καιρό θα μείνει η αγγελία ενεργή?</h5>
                <p class="text-muted">Μπορείς να διαχειριστεις τις Αγγελίες από τη σελίδα Διαχείριση Αγγελιών, οπού μπορείς να διαγράψεις, αποκρύψεις, ολοκληρώσεις τις Αγγελίες σου. </p>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <h5 class="font-weight-normal mb-3">Πόσες φωτογραφίες μπορώ να ανεβάσω για κάθε αγγελία?</h5>
                <p class="text-muted">Ο μέγιστο αριθμός φωταγραφιών ανά Αγγελία είναι 21 και η κάθε φωτογραφία μπορεί να έχει μέγεθος μέχρι και 5MB.</p>
            </div>
        </div>
    </section>

</div>

