@model List<EronNew.Models.FaqModel>

@section metatags
{
    <meta property="fb:app_id" content="407388710507530" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="FAQ - Eron.gr" />
    <meta property="og:url" content="https://www.eron.gr" />
    <meta property="og:image" content="https://www.eron.gr/images/image_v2.png" />
    <meta property="og:description" content="Καταχωρείστε τις αγγελίες σας στο Eron.gr." />
}

<div class="container my-5">


    <!--Section: Content-->
    <section>

        <h6 class="font-weight-normal text-uppercase font-small grey-text mb-4 text-center">FAQ</h6>
        <!-- Section heading -->
        <h3 class="font-weight-bold black-text mb-4 pb-2 text-center">Frequently Asked Questions</h3>
        <hr class="w-header">
        <!-- Section description -->
        <p class="lead text-muted mx-auto mt-4 pt-2 mb-5 text-center">Έχεις κάποια ερώτηση? Έχουμε την απάντηση. Εάν έχεις κάποια άλλη απορία, <a href="~/Home/ContactUs">επικοινώνησε μαζί μας</a>.</p>

        <div class="row">
            <div class="accordion accordion-flush" id="accordionFlushExample">

                @foreach (var item in Model)
                {
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="@item.id">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-mdb-toggle="collapse"
                                    data-mdb-target="#flush-collapseOne-@item.id"
                                    aria-expanded="false"
                                    aria-controls="flush-collapseOne-@item.id">
                                @item.Question
                            </button>
                        </h2>
                        <div id="flush-collapseOne-@item.id"
                             class="accordion-collapse collapse"
                             aria-labelledby="@item.id"
                             data-mdb-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                @item.Answer
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

</div>

