@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="container z-depth-1 my-5 p-5 mt-5">

    <!--Section: Content-->
    <section class="dark-grey-text text-center">

        <h6 class="font-weight-normal text-uppercase font-small grey-text mb-4">Eron.gr</h6>
        <!-- Section heading -->
        <h3 class="font-weight-bold black-text mb-4 pb-2">Our Services</h3>
        <hr class="w-header">
        <!-- Section description -->
        <p class="lead text-muted mx-auto mt-4 pt-2 mb-5">It's really easy to post an Advertisement.</p>

        <!--First row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-4 mb-4">

                <!-- Card -->
                <a href="#!" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-tablet-alt fa-2x text-muted"></i></p>
                        <h5 class="black-text mb-0">Simplify</h5>
                        <p>
                            Eron.gr has a clear and simple way to Advertise and Discover the Ads, using components and utilities can help your business.
                        </p>
                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-4 mb-4">

                <!-- Card -->
                <a href="#!" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-cogs fa-2x text-muted"></i></p>
                        <h5 class="black-text mb-0">Discover</h5>
                        <p>
                            Taking into serious consideration your opinion, we will enhance Eron.gr with tools can help Ads to be more reliable and friendly for everyone.
                        </p>
                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-4 mb-4">

                <!-- Card -->
                <a href="#!" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body my-4">

                        <p><i class="fas fa-pencil-ruler fa-2x text-muted"></i></p>
                        <h5 class="black-text mb-0">Grow up</h5>
                        <p>
                            Eron.gr has the goal to broaden the popularity of every Ad. In order to, find your buyer faster and easier.
                        </p>
                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--Grid column-->

        </div>
        <!--First row-->

    </section>

</div>