@{
    ViewData["Title"] = "Privacy Policy - Term Of Use";
}

<div class="row mt-5 pt-2">
    <p>
        <h1>@ViewData["Title"]</h1><br>
    </p>

    <p>
        Introduction
    </p>
    <p>
        The following terms and conditions have been composed by the owner of the website and define the relationship between users/visitors/subscribers of www.eron.gr ("website") and the website. Users/visitors/subscribers are asked to read the terms and conditions carefully. If they do not agree with them, they must do not use this website. If they actually use the website, they are accepting the terms and conditions.
        The website retains the right to change the terms of use and privacy policy at any point in time and without any prior notice, hence users/visitors/subscribers are asked to read the terms of use and conditions every time they visit the website.
    </p>
    <p>
        Terms of Use
    </p>
    <p>
        The content of the website cannot be copied, reproduced, distributed and republished in any form without the prior consent of the owner of the website. Users/visitors/subscribers are allowed to print and electronically save the content of the website for personal use, but by no means for commercial use.
        Users/visitors/subscribers willing to be registered to the website’s services must:
        •	Declare their correct and fullest personal data in the relevant space in the website, and in the form of registration for access to the subscription services of the website.
        •	Understand and recognize that, after their registration to the website, the subscription services and the payment of the corresponding amount of money, by any means of payment (credit card, deposit to the bank account of the website or payment through the PayPal system), no refund/return of the sum of money paid can be due or feasible. Users/visitors/subscribers also accept the issuing of the invoice for the services paid and accept the responsibility of completing their data/or the data of the company they legally represent on the invoice issued by the website.
        •	Make sure that they inform directly the website, in case of any change of the personal information provided by them, in order to keep them always updated, accurate and complete.
    </p>
    <p>
        Services Suspension
    </p>
    <p>
        The website retains the exclusive right, which users/visitors/subscribers fully accept, to set the website out of order and suspend, temporarily or permanently, its operation, with or without warning, in order to solve technical problems. The website also reserves the right to stop providing its services to the users who bear overdue financial obligations towards it.
        User/visitor/Subscriber Conduct
        The user/visitor/subscriber understands and accepts that by using the services of the website, he/she may be exposed to content that is offensive, indecent or illegal. In case the website receives any notification that any content causes moral or other damage to a third party, it reserves the right to immediately remove such content and at the same time to terminate the account of the user/visitor/subscriber who violates the present terms.
        Users/visitors/subscribers agree to not use the services of the website to:
        •	Upload, post, email, transmit or otherwise install any content that is unlawful, harmful, threatening, offensive, harassing, defamatory, vulgar, violent, abusive, racially, ethnically or otherwise objectionable, invasive of another’s privacy and personal data, that generates feelings of hatred and/or any other penal offence.
        •	Harm minors in any way.
        •	Impersonate any legal entity or natural person or falsely state the identity of the user/visitor/subscriber or misleadingly state the affiliation and/or the cooperation of the user/visitor/subscriber with another entity or person.
        •	Forge or otherwise falsify identifiers of the users/visitors/subscribers, in order to disguise the origin of any content transmitted through the services of the website.
        •	Have uploaded, posted, emailed, transmitted or otherwise installed any content by a person who has no right to make this particular content available, under any law or under fiduciary relationships.
        •	Upload, post, email, transmit or otherwise install software or content of any kind (text, image, sound, video, animation) that infringes any intellectual property rights of any party (including trade secrets).
        •	Upload, post, email, transmit or otherwise install any unsolicited or unauthorized advertising, or promotional material, "junk mail", "spam" and any other form of unwanted promotion of any content.
        •	Upload, post, email, transmit or otherwise install, and/or promote and/or make available any content that contains software viruses or any other computer code, files or programs designed to interrupt, destroy, or limit the functionality of any computer software or hardware or telecommunications equipment.
        •	Intentionally or unintentionally violate any applicable local, national, European or International law and/or any regulations having the force of law and concerning and/or covering any services of the website.
        •	Violate in any way the privacy and the personal and social rights of other users/visitors/subscribers (such as the collection and/or storing of personal data of other users/visitors/subscribers).
    </p>
    <p>
        Limitation of Liability
    </p>
    <p>
        The website does not bear any liability for:
        •	Any failures due to software or Internet errors or unavailability or any other circumstances beyond its reasonable control.
        •	Loss of the user/visitor/subscriber’s password or account ID caused by a breakdown, error, loss of power or otherwise caused by or to his/her computer system.
        •	Any consequences arising out of or in connection with any such use or attempted use of automated programs to obtain unauthorized access to its system or this Site.
        •	Any loss or damage caused by a virus, distributed denial of service attack or other technologically harmful material that may infect user’s computer equipment, computer programs, data or other proprietary material due to his/her use of our Site or to his/her downloading of any content on it, or any website linked to it.
    </p>
    <p>
        Links to other websites
    </p>
    <p>
        This website contains links to other websites. These websites are provided for user’s convenience to provide further information. They do not signify that we endorse the website(s). The website does not bear any liability for the accuracy of the content of the website. The website does not guarantee that the websites or any other websites that are linked to them are free from computer viruses or any other malicious or impairing computer software.
        Therefore, the website cannot be responsible for the protection and privacy of any information which users/visitors/subscribers provide whilst visiting such websites and such websites are not governed by this privacy statement. The website bears no responsibility for the continuous, uninterrupted and safe accessibility of the visitor/user/subscriber to the other websites. Hence, in case that a problem occurs, while visiting those websites, the users/visitors/subscribers should refer directly to the corresponding websites for the restoration of the problem.
        The aforementioned websites contain content submitted by third parties. The website does not bear any liability for illegalities arising from omissions, errors, inaccuracies in the content provided by third parties. The information in these websites may be updated at any time and often be out of date. The website bears no responsibility for keeping the information in these pages up to date or liability for any failure to do so.
        In case a user/visitor/subscriber has a commercial transaction with a third party, then this transaction will be in accordance with the third parties’ terms and conditions and not the terms and conditions of the website. The website bears no liability for any aspect and outcome of this transaction.
        Material submitted on this website
        By submitting material on this website, the user/visitor/subscriber is giving the website the exclusive right and permission to publish, use, translate and reproduce this material or part of it in any part of the world and in any technology. At the same time, he/she acknowledges that the website does not have any obligation to publish or reproduce the submitted material.
    </p>
    <p>
        Exclusion of Liability
    </p>
    <p>
        The information contained in the content of this website (including links of estate agents, pictures of properties, personal information or other information of companies or people who advertise or list properties)is only for information purposes.
        The content on this website does not constitute advice and the user/visitor/subscriber of this website should not rely on any material in this website to make any decision or take any action, based on the content of the website.
        The content on this website does not constitute advice and the user/visitor/subscriber of this website should not rely on any material in this website to make any decision or take any action, based on the content of the website.
        The content of this website is provided by 3rd parties (estate agents, realtors, users) and cannot be certified or guaranteed for its accuracy.In no event the website bears liability for the accuracy of the description of a property, or for any economic loss that might occur from a transaction in the real estate market.
        The pages contained in the website may also contain errors, including technical and typographical errors.
    </p>
    <p>
        E-Commerce
    </p>
    <p>
        The website provides its users/visitors/subscribers with the ability to buy services, via e-commerce applications, according to the specific terms it lays down and by seeing to the protection of the personal information they submit in order to use these services.
        In case the e-commerce applications are performed between the users/subscribers and the website, the website is obliged to comply with the Decision Z1-496/2000 on long-distance sales and the provisions of Law 2251/1994 for the Consumers Protection. Thus, the website is obliged to inform the potential client about: a) the essential features of the services it provides, b) the price, c) the quantity, d) the VAT, if not included in the price, e) the way of payment, f) the way of execution and process, g) the duration of validity of the offer or its price and h) the right to retract.
        Access to the pages/services of the website does not entail any extra cost, apart from the rates in force for the general access to the Internet, as they has been formulated by the ISP’s and it is paid exclusively to them
    </p>
    <p>
        Jurisdiction
    </p>
    <p>
        The terms of use and any change to them in the future are governed and completed by the Hellenic jurisdiction, the European Union Jurisdiction, and the relevant international conditions. They are also compulsory for all users/visitors/subscribers.
        The use of the website and any legal dispute that might occur from it or its services are subject to the exclusive jurisdiction of the Athens Courts, which the users/visitors/subscribers of the website accept.
    </p>
    <p>
        Copyright
    </p>
    <p>
        The content and right to use of loss and any content of the website constitute literary property of the owner of the website. The owner of the website controls the content and function of the website from his office in Athens, Greece.
    </p>
    <p>
        Agreement
    </p>
    <p>
        These terms and conditions constitute the entire agreement between the website and any of its users/visitors/subscribers (estate agents, realtors, other users).
    </p>
    <p>
        Contact
    </p>
    <p>
        If there are any questions or need of clarification for any of the above, please send us an email at: admin@eron.gr
    </p>
</div>