@page
@model ChangePasswordModel
@inject EronNew.Resources.GlobalCultureService SharedLocalizer
@using EronNew.Helpers
@using EronNew.Resources
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="row mt-5">
    <div class="card">
        <div class="card-header">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Password))</div>
        <div class="card-body">
            <form id="change-password-form" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-outline mt-3">
                    <input asp-for="Input.OldPassword" class="form-control" />
                    <label class="form-label" asp-for="Input.OldPassword"></label>
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>
                <div class="form-outline mt-3">
                    <input asp-for="Input.NewPassword" class="form-control" />
                    <label class="form-label" asp-for="Input.NewPassword"></label>
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-outline mt-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <label class="form-label" asp-for="Input.ConfirmPassword"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary mt-3">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Submit))</button>
            </form>
        </div>
        <div class="card-footer"><partial name="_StatusMessage" for="StatusMessage" /></div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
