@page
@model PersonalDataModel
@inject EronNew.Resources.GlobalCultureService SharedLocalizer
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="row mt-5">
    <div class="card">
        <div class="card-header">Personal Data</div>
        <div class="card-body">
            <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
            <p>
                <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
            </p>
            <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
                <button class="btn btn-primary mt-3" type="submit">@SharedLocalizer.GetLocalized("Download")</button>
            </form>
            <p>
                <a id="delete" asp-page="DeletePersonalData" class="btn btn-secondary mt-3">
                    @SharedLocalizer.GetLocalized("Διαγραφή")
                </a>
            </p>
        </div>
        <div class="card-footer">

        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
