@inject EronNew.Resources.GlobalCultureService SharedLocalizer
@using EronNew.Helpers
@using EronNew.Resources
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="/images/logo.png" itemprop="image">
    <meta name="title" content="Eron.gr">
    <meta name="description" content="Καταχωρείστε τις αγγελίες σας στο Eron.gr.">
    <meta name="keywords" content="Advertisment,Real Estate,Ακίνητο,Πώληση,Ενοικίαση,Eron.gr">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-16">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="Vasileios Valasidis">
    <style>
        #toggleSideAdmin {
            display: none !important;
        }
    </style>
    @RenderSection("metatags", false)

    <title>Eron </title>
    <partial name="_partialStyleSheets.cshtml" />

    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
    @if (hostingEnv.EnvironmentName == "Production")
    {
        <!-- Hotjar Tracking Code for www.eron.gr -->
        <script>
            (function (h, o, t, j, a, r) {
                h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
                h._hjSettings = { hjid: 2219362, hjsv: 6 };
                a = o.getElementsByTagName('head')[0];
                r = o.createElement('script'); r.async = 1;
                r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
                a.appendChild(r);
            })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
        </script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-9ZJT4KTT5R"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'G-9ZJT4KTT5R');
        </script>
    }
</head>
<body class="navy-blue-skin scrollbar-navy-blue-skin-slim">
    <!--Main Navigation-->
    <header>
        <partial name="_navbar" />
    </header>
    <!--Main Navigation-->
    <main class="d-flex flex-fill mt-5">
        <div class="container text-left text-sm-left text-md-left">
            @RenderBody()
        </div>
    </main>
    <partial name="_footer" />
    <partial name="_partialScripts" />
    @RenderSection("Scripts", required: false)
</body>
</html>
