@model EronNew.Models.PostsModel
@inject EronNew.Resources.GlobalCultureService SharedLocalizer
@using EronNew.Helpers
@using EronNew.Resources

<!-- Central Modal Notes -->
<div class="modal fade" id="centralModalNotes" tabindex="-1" role="dialog" aria-labelledby="NotesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100 white-text" id="NotesModalLabel">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Notes))</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="notesForm" class="p-0 m-0 col-12" action="SaveNotes/@Model.id" method="post">
                    <div class="col-md-12">
                        <div class="md-form mt-2">
                            <i class="fas fa-pencil-alt prefix grey-text"></i>
                            <textarea name="notes" id="form107" class="md-textarea form-control" rows="5"></textarea>
                            <label for="form107">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Writeashortdescription))</label>
                        </div>
                    </div>
                    <!--Grid row-->
                    <div class="col-md-12 mb-3 mt-4">
                        <!--Grid column-->
                        <div class="col-md-12">
                            <div class="text-center">
                                <button id="saveNotes" type="submit" class="btn gradient white-text btn-rounded z-depth-1a waves-effect waves-light" data-postid="@Model.id">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Save))</button>
                            </div>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Central Modal Notes -->