@model EronNew.Models.PostsModel
@inject EronNew.Resources.GlobalCultureService SharedLocalizer
@using EronNew.Helpers
@using EronNew.Resources

<!-- Central Modal Notes -->
<div class="modal fade" id="centralModalNotes" tabindex="-1" aria-labelledby="myModalContact" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog modal-lg " >
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title  d-flex align-items-start" id="NotesModalLabel">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Notes))</h4>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="notesForm" class="p-0 m-0 col-12" action="SaveNotes/@Model.id" method="post">
                    <div class="col-md-12">
                        <div class="form-outline mt-2">
                            <textarea name="notes" id="form107" class="form-control" rows="5"></textarea>
                            <label class="form-label" for="form107">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Writeashortdescription))</label>
                        </div>
                    </div>
                    <!--Grid row-->
                    <div class="col-md-12 mb-3 mt-4">
                        <!--Grid column-->
                        <div class="col-md-12">
                            <div class="text-center">
                                <button id="saveNotes" type="submit" class="btn gradient white-text btn-rounded z-depth-1a waves-effect waves-light" data-postid="@Model.id">@SharedLocalizer.GetLocalized(StaticHelpers.GetDescription(LocalizedPhrases.Save))</button>
                            </div>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Central Modal Notes -->
