@model EronNew.Models.PostsModel
@inject EronNew.Resources.GlobalCultureService SharedLocalizer
@using EronNew.Helpers
@using EronNew.Resources
<!-- Central Modal Preview360 -->
<div class="modal fade" id="centralModalPreview360" tabindex="-1" role="dialog" aria-labelledby="Preview360ModalLabel" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-start">
                <h4 class="modal-title" id="Preview360ModalLabel">@SharedLocalizer.GetLocalizedHtml(StaticHelpers.GetDescription(LocalizedPhrases.HtmlPreview360))</h4>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-content-center justify-content-center">
                <iframe width='853' height='480' src='@Model.Preview360' frameborder='0' allowfullscreen allow='xr-spatial-tracking'></iframe>
            </div>
        </div>
    </div>
</div>
<!-- Central Modal Preview360 -->
