@inject EronNew.Resources.GlobalCultureService SharedLocalizer
@using EronNew.Helpers
@using EronNew.Resources



<!-- Navbar-->
<nav id="main-navbar" class="navbar navbar-expand-lg navbar-light fixed-top gradient-title">
    <div class="container-fluid justify-content-between">
        <!-- Left elements -->
        <div class="d-flex">
            <!-- Toggler -->
            <button id="toggleSideAdmin"
                    data-mdb-toggle="sidenav"
                    data-mdb-target="#sidenav-admin"
                    class="btn shadow-0 p-0 me-3 d-block d-lg-none"
                    aria-controls="#sidenav-admin"
                    aria-haspopup="true">
                <i class="fas fa-bars fa-lg text-light"></i>
            </button>
            <!-- Toggler -->
            <!-- Brand -->
            <a id="mainLogo" class="navbar-brand py-0 me-2 mb-0 d-flex align-items-center" href="/Home">
                <img src="~/images/logo.png"
                     height="36"
                     alt=""
                     loading="lazy" />
            </a>

        </div>
        <!-- Left elements -->
        <!-- Center elements -->
        <ul class="navbar-nav flex-row d-none d-md-flex">
            @*<li class="nav-item me-3 me-lg-1 active">
                <form class="d-flex input-group w-auto">
                    <input type="search"
                           class="form-control"
                           placeholder="Type query"
                           aria-label="Search" />
                    <button class="btn btn-outline-primary"
                            type="button"
                            data-mdb-ripple-color="dark">
                        Search
                    </button>
                </form>
            </li>*@
        </ul>
        <!-- Center elements -->
        <!-- Right elements -->
        <ul class="navbar-nav flex-row">
            <partial name="_LoginPartial" />
        </ul>
        <!-- Right elements -->
    </div>
</nav>
<!-- Navbar -->